$card-height: 94px;
$card-width: 62px;

header, footer {
	text-align: center;
}

button, p, .scores {
	font-size: 0.8em;
}

button {
	outline: none;
}

p {
  	transition: opacity 1.2s;
}

.difficulties {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 0 auto 2%;
}

.game {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card-block {
	width: 25%;
	margin-bottom: 2%;
	display: flex;
	justify-content: space-around;
}

.card {
	display: inline-flex;
	position: relative;
	border: 0.5px solid black;
	height: $card-height;
	width: $card-width;
	border-radius: 15px;
	background-color: lightgrey;
	cursor: grab;
 	transition: background-color 0.8s;

	&.flipped {
		background-color: white;
		transition: background-color 0.8s;
    	cursor: default;
	}
	&.match {
		background-color: palegreen;
	}
}

button {
	padding: 8px;
	width: 94px;
	border-radius: 5px;
}

.App-logo {
  	animation: App-logo-spin infinite 20s linear;
  	width: $card-width;
	transition: opacity 0.8s;
  .flipped & {
  	opacity: 0;		
  	transition: opacity 0.8s;
  }
}

.mask {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0px;
	margin: 27px 11px;
	overflow: hidden;
	.spritesheet {
		position: absolute;
	  	width: 260px;
		transition: opacity 0.6s;
	  	opacity: 0;		
	  .flipped & {
	  	opacity: 1;		
	  	transition: opacity 0.6s;
	  }
	}
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 768px) {
	header {
		font-size: 0.8em;
	}
	.game, .difficulties {
		width: 90%;
	}
}