/* line 4, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
header, footer {
  text-align: center;
}

/* line 8, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
button {
  outline: none;
  font-family: arcade, sans-serif;
}

/* line 13, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
button {
  padding: 8px;
  width: 30%;
  border-radius: 5px;
}

/* line 19, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
p {
  transition: opacity 1.2s;
  margin: 10px 0;
}

/* line 24, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
img {
  user-select: none;
}

/* line 28, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.difficulties {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto 2%;
}

/* line 35, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.game {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 43, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.card-block {
  width: 25%;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-around;
}

/* line 50, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.card {
  display: inline-flex;
  position: relative;
  border: 0.5px solid black;
  height: 94px;
  width: 62px;
  min-width: 62px;
  /*IE*/
  border-radius: 15px;
  background-color: lightgrey;
  cursor: grab;
  transition: background-color 0.8s;
}

/* line 62, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.card.flipped {
  background-color: white;
  transition: background-color 0.8s;
  cursor: default;
}

/* line 67, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.card.match {
  background-color: palegreen;
}

/* line 72, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 62px;
  height: 62px;
  margin-top: 13px;
  transition: opacity 0.8s;
}

/* line 78, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.flipped .App-logo {
  opacity: 0;
  transition: opacity 0.8s;
}

/* line 84, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.mask {
  width: 40px;
  height: 42px;
  position: absolute;
  left: 0px;
  margin: 26px 11px;
  overflow: hidden;
}

/* line 91, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.mask .spritesheet {
  position: absolute;
  width: 260px;
  transition: opacity 0.6s;
  opacity: 0;
}

/* line 96, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
.flipped .mask .spritesheet {
  opacity: 1;
  transition: opacity 0.6s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  /* line 108, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
  header {
    font-size: 0.8em;
  }
  /* line 111, C:/wamp64/www/react-pairs-game/src/styles/sass/Game.scss */
  .game, .difficulties {
    width: 90%;
  }
}

/*# sourceMappingURL=../Game.map */